GROQ_API_KEY=
NASA_API_KEY=
MONGODB_URI=mongodb+srv://spacepulse_user:sourja09@cluster0.xxxxx.mongodb.net/spacepulse?retryWrites=true&w=majority
NEXT_PUBLIC_BACKEND_URL=http://localhost:5000 

mongodb+srv://sourjabose88412_db_user:<db_password>@cluster0.fqhc4kp.mongodb.net/?appName=Cluster0


sourja09#
0L5lFcUwZUa7TGLl